@import url('https://fonts.googleapis.com/css?family=Astloch|Metamorphous&display=swap');
html {
  font-size: 10px;
  background: url(/assets/background.jpg) bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: 'Astloch', cursive;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .2rem solid #3c3c24;
  border-radius: .2rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: #d0c2ae;
  background: rgba(60,60,36,0.6);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #b07904;
  box-shadow: 0 0 1rem #b07904;
}

kbd {
  display: block;
  font-size: 5rem;
  font-family: 'Metamorphous', cursive;
}

.sound {
  font-size: 1.2rem;
  /* text-transform: uppercase; */
  letter-spacing: .1rem;
  color: #d0c2ae;
}